body {
    margin: 0px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
    margin: 0px;
    color: white;
}

h2 {
    font-size: 30px;
    margin: 0px;
    color: white;
}

h4 {
    margin: 0px;
}

.gold {
    color: #F9B82A;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: rgb(221, 217, 217);
}

a {
    background-color: #F9B82A;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;
}

/* ////////////////////////////////////// */
.top-banner {
    display: flex;
    padding: 5% 0% 5%;
}

.top-banner .top-banner-left {
    width: 55%;
    padding: 3% 5% 5% 10%;
}

.top-banner .top-banner-left p {
    margin: 2% 0% 5%;
}

.top-banner .top-banner-right {
    width: 45%;
}

.top-banner .top-banner-right img {
    width: 55%;
    margin: 30px auto;
    display: block;

}

/* ////////////////////////////////////// */
.about-me {
    display: flex;
    padding: 5% 0% 5%;
}

.about-me .about-me-left {
    width: 45%;
}

.about-me .about-me-left img {
    width: 60%;
    margin: 20px auto;
    display: block;
}

.about-me .about-me-right {
    width: 55%;
    padding: 3% 5% 0% 5%;
}

.about-me .about-me-right p {
    margin: 4% 0% 8%;
}

/* ////////////////////////////////////// */
.my-services {
    padding: 5% 0% 7%;
    border: 1px solid oldlace;
    text-align: center;
}

.my-services #para {
    padding: 0% 25%;
}

.my-services .service-area-first {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.my-services .service-area-first .service-item-first {
    width: 29%;
    border-bottom: 3px solid #F9B82A;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 5px;
    padding: 4% 0%;
    text-align: center;
    margin-top: 5%;
}

.my-services .service-area-first .service-item-first:hover {
    border: 3px solid #F9B82A;
}

.my-services .service-area-first .service-item-first p {
    margin: 20px 30px;
}

.my-services .service-area-first .service-item-first a {
    padding: 5px 15px;
    font-size: 14px;
}